<!DOCTYPE html>
<html>
<head>
<title>School Attendance System</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="main-container">

<h1>School Attendance System</h1>

<a href="/register_page">
<button>Register Student</button>
</a>

<a href="/attendance_page">
<button>Manual Attendance</button>
</a>

<a href="/view_attendance">
<button>View Attendance</button>
</a>

<a href="/percentage_page">
<button>Attendance Percentage</button>
</a>
<a href="/logout">
<button>Logout</button>
</a>
</div>

</body>
</html>